RewriteEngine On
#RewriteBase /site/

# Remove .html extension for ALL pages
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# Cache favicon for 1 year
<FilesMatch "favicon\.ico$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>